SECRETS=$(kamal secrets fetch --adapter 1password --account <%= onepassword_account %> --from <%= vault %>/<%= app_name %> <%= secret_keys.join(" ") %>)
<% if secret_keys.include?("KAMAL_REGISTRY_PASSWORD") -%>

KAMAL_REGISTRY_PASSWORD=$(kamal secrets extract KAMAL_REGISTRY_PASSWORD ${SECRETS})
GITHUB_TOKEN=$(kamal secrets extract KAMAL_REGISTRY_PASSWORD ${SECRETS})
<% end -%>
<% (secret_keys - ["KAMAL_REGISTRY_PASSWORD"]).each do |key| -%>
<%= key %>=$(kamal secrets extract <%= key %> ${SECRETS})
<% end -%>
